<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="track_robot">

<!--common-->
<xacro:include filename="$(find track_robot_description)/urdf/common.urdf.xacro" />
<xacro:include filename="$(find track_robot_description)/urdf/materials.urdf.xacro" />

<xacro:include filename="$(find track_robot_description)/urdf/track.urdf.xacro" />

<!--<link name="map" >
<origin xyz="0 0 0" rpy="0 0 0" />
</link>

<joint name="$map_base_joint" type="fixed" >
<parent link="map" />
<child link="base_link" />
<origin xyz="0 0 ${0.1/2}" rpy="0 0 0" />
</joint>-->

<xacro:property name="box_length" value="0.4"/>

<link name="base_link" >
<origin xyz="0 0 ${0.1/2 + 0.1}" rpy="0 0 0" />
<visual>
<geometry>
<box size="${box_length} ${box_length} 0.1" />
</geometry>
<material name="Black"/>
</visual>
</link>

<xacro:track name="left_track" parent="base_link" length="${box_length}" spin="-${M_PI/2}" >
<origin xyz="0 0.2 0" rpy="0 ${M_PI/2} 0" />
</xacro:track>

<xacro:track name="right_track" parent="base_link" length="${box_length}" spin="${M_PI/2}" >
<origin xyz="0 -0.2 0" rpy="${M_PI} ${M_PI/2} 0" />
</xacro:track>

</robot>
