<?xml version="1.0"?>
<launch>

  <arg name="model" default="$(find track_robot_description)/urdf/track_robot.urdf.xacro"/>

  <param name="robot_description" command="$(find xacro)/xacro --check-order $(arg model)" />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

</launch>
